{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Inicio</title>
</head>
<body>
    
    <div class="container d-flex justify-content-center align-items-center divNotas">
        <div class="vh-100">
            <div class="container py-4 h-75">
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="fw-bold mb-2 text-uppercase">Alcanzo a Aprobar</h2>
                        <p class="text-white-50 mb-2">Ingresa tu notas y porcentajes</p>

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="container contenedorCampos">
                                <div class="row parCampos">
                                    <div data-mdb-input-init class="form-outline form-white mb-2 pr-2 row col-4 mr-8 me-2">
                                        <input type="text" id="typeTextUserName" class="form-control form-control-md nota" />
                                        <label class="form-label" for="typeTextUserName">Nota</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline form-white mb-2 row col-4 mx-auto">
                                        <input type="text" id="typeTextUserName" class="form-control form-control-md porcentaje" />
                                        <label class="form-label" for="typeTextUserName">Porcentaje</label>
                                    </div>
                                    <div data-mdb-input-init class="form-outline form-white mb-4 row col-4 mx-auto">
                                        <button type="button" class="btn btn-danger" onclick="Eliminar()">Remover</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button type="button" class="btn btn-primary" onclick="Agregar()">Agregar nueva nota</button>
                        <button type="button" class="btn btn-success" onclick="Calcular()">Calcular</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/page.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>